@import url(./font-Montserrat.css));

    body {
        background-color: #f5f5f5;
        font-family: Montserrat, sans-serif;
    }

    #content {
        background-color: #add8e6;
        border: 1px solid #87ceeb;
        width: 20em;
        border-radius: 2px;
        color: #fff;
        top: 5em;
        left: 5em;
        position: absolute;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1), 2px -2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1), 2px 0 4px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(0, 0, 0, 0.1), -2px 0 4px rgba(0, 0, 0, 0.1);
        padding: 1em;
    }

    #content ul {
        list-style: none;
        padding: 0;
    }

    #content li {
        margin: 1em;
        padding: 1em;
        background-color: #20b2aa;
    }

    #content button {
        right: 0;
        float: right;
    }

    .wideo {
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
    }

    #starter {
        position: relative;
        top: 3em;
        left: 3em;
        text-decoration: underline;
    }